{% extends "base.html" %}
{% load static %}

{% block title %}Approval page{% endblock title %}

{% block content %}
  <div class="col-lg-6">
    <div class="row my-4">
      <a href="{% url 'dashboard' %}">
        <button type="button" class="btn btn-primary">Back to dashboard</button>
      </a>
    </div>
    <div class="row">
      {% if articles %}
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Writer</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          {% for article in articles %}
            <tr>
              <th scope="row">{{ article.id }}</th>
              <td>{{ article.title }}</td>
              <td>{{ article.written_by }}</td>
              <td>
                {% if article.status %}
                  Approved <img src="{% static 'admin/img/icon-yes.svg' %}" alt="{{ article.status }}">
                {% else %}
                  Rejected <img src="{% static 'admin/img/icon-no.svg' %}" alt="{{ article.status }}">
                {% endif %}
              </td>
              <td>
                <button onclick="update_article(true, '{{ article.id }}')" type="button" class="btn btn-success">
                  Approve
                </button>
              </td>
              <td>
                <button onclick="update_article(false, '{{ article.id }}')" type="button" class="btn btn-danger">
                  Reject
                </button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <span>No articles written yet</span>
      {% endif %}
    </div>
  </div>

  <script>
      function update_article(approve, pk) {
          $.ajaxSetup({
              beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
              }
          });
          $.ajax({
              type: 'PUT',
              url: 'article/' + pk + '/update_article/',
              dataType: 'json',
              data: {
                  'status': approve,
                  'edited_by': {{ request.user.writer.id }}
              },
          }).done(function (data, textStatus, jqXHR) {
              alert("Success!");
              window.location.reload();
              console.debug(data);
              console.debug(textStatus);
              console.debug(jqXHR);
          }).fail(function (jqXHR, textStatus, errorThrown) {
              alert("Failed.");
              console.debug(jqXHR);
              console.debug(textStatus);
              console.debug(errorThrown);
          });
      }
  </script>
{% endblock content %}
