{% extends "blog/base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
  <div class="col-lg-6">
    <div class="row justify-content-center">
      <h1>Articles</h1>
    </div>
    <div class="row">
      <a href="{% url 'article_create' %}">Create new article</a>
      <a href="{% url 'article_approval' %}">Approval page</a>
      <a href="{% url 'article_edited' %}">Edited page</a>
    </div>
    <div class="row">
      {% if writers %}
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Writer</th>
            <th scope="col">Total Articles Written</th>
            <th scope="col">Total Articles Written Last 30</th>
          </tr>
          </thead>
          <tbody>
          {% for writer in writers %}
            <tr>
              <th scope="row">{{ writer.name }}</th>
              <td>{{ writer.written_count }}</td>
              <td>{{ writer.written_count_last_thirty }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <span>No articles written yet</span>
      {% endif %}
    </div>
  </div>
{% endblock content %}

