{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
  <div class="col-lg-6">
    <div class="row justify-content-center">
      <h1>Articles</h1>
    </div>
    <div class="row my-4 justify-content-between">
      <a href="{% url 'logout_writer' %}">
        <button type="button" class="btn btn-secondary">Logout</button>
      </a>
      {% if request.user.is_authenticated %}
        <span>You are currently logged in as {{ request.user.writer.name }}</span>
      {% endif %}
    </div>
    <div class="row my-4 justify-content-around">
      <a href="{% url 'article_create' %}">
        <button type="button" class="btn btn-success">Create new article</button>
      </a>
      <a href="{% url 'article_approval' %}">
        <button type="button" class="btn btn-primary">Approval page</button>
      </a>
      <a href="{% url 'article_edited' %}">
        <button type="button" class="btn btn-primary">Edited page</button>
      </a>
    </div>
    <div class="row">
      {% if articles %}
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Writer</th>
            <th scope="col">Total Articles Written</th>
            <th scope="col">Total Articles Written Last 30</th>
          </tr>
          </thead>
          <tbody>
          {% for article in articles %}
            <tr>
              <th scope="row">{{ article.written_by__name }}</th>
              <td>{{ article.written_count }}</td>
              <td>{{ article.written_count_last_thirty }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <span>No articles written yet</span>
      {% endif %}
    </div>
  </div>
{% endblock content %}

