{% extends "base.html" %}
{% load static %}

{% block title %}Approval page{% endblock title %}

{% block content %}
  <div class="col-lg-6">
    <div class="row">
      <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-primary">Back to dashboard</button></a>
    </div>
    <div class="row">
      {% if articles %}
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Writer</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          {% for article in articles %}
            <tr>
              <th scope="row">{{ article.id }}</th>
              <td>{{ article.title }}</td>
              <td>{{ article.written_by }}</td>
              <td>
                {% if article.status %}
                  Approved <img src="{% static 'admin/img/icon-yes.svg' %}" alt="{{ article.status }}">
                {% else %}
                  Rejected <img src="{% static 'admin/img/icon-no.svg' %}" alt="{{ article.status }}">
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <span>No articles eddited by you yet</span>
      {% endif %}
    </div>
  </div>

{% endblock content %}
