{% extends "blog/base.html" %}

{% block title %}Approval page{% endblock title %}

{% block content %}
  <div class="col-lg-6">
    {% if articles %}
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Writer</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
          <tr>
            <th scope="row">{{ article.id }}</th>
            <td>{{ article.title }}</td>
            <td>{{ article.written_by }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <span>No articles written yet</span>
    {% endif %}
  </div>

{% endblock content %}
